* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(162, 216, 218);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    height: 20rem;
    width: 15rem;
    background-color: rgb(89, 88, 88);
    text-align: center;
    padding-top: 12px;
    border-radius: 18px;
    border: 2px solid black;
}